<div [ngClass]="'flexbox'">
  <section>
    <h2>Build a New Table</h2>
    <mat-horizontal-stepper>
      <mat-step label="Build Structure">
        <app-structure></app-structure>
      </mat-step>
      <mat-step label="Enter Values">
        <app-values></app-values>
      </mat-step>
      <mat-step label="Configure Styles">
        <app-styles></app-styles>
      </mat-step>
      <mat-step label="Download">
        <app-download></app-download>
      </mat-step>
    </mat-horizontal-stepper>
  </section>
  <section [ngClass]="'output'">
    <app-output-table></app-output-table>
  </section>
</div>