.flexbox
    justify-content: space-between
    
section 
    order: 1
    flex-grow: 1
    justify-content: center
    flex-basis: auto
    
    .output
        flex-grow: 2
        align-items: stretch
        margin: 0 auto