<div>
  <div>  
    <mat-form-field color="accent">
      <input matInput [matDatepicker]="startPicker" placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="startPicker" (dateInput)="storeStartDate(startDate.value)" (dateChange)="storeStartDate(startDate.value)"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    &nbsp;
    
    <mat-form-field color="accent">
      <input matInput [matDatepicker]="endPicker" placeholder="End Date">
      <mat-datepicker-toggle matSuffix [for]="endPicker" (dateInput)="storeEndDate(endDate.value)"
        (dateChange)="storeEndDate(startDate.value)"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-radio-group aria-label="Separate columns by...">
      <mat-radio-button #columns value="day">Day</mat-radio-button>
      <mat-radio-button #columns value="week">Week</mat-radio-button>
      <mat-radio-button #columns value="month">Month</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
