<div>
  <div [ngClass]="'row-box'">
    <button mat-icon-button class="row-box-left">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <h3 [ngClass]="'row-box-header'">Row ##</h3>

    <button mat-icon-button class="row-box-right">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <mat-form-field color="accent" class="column-value">
    <input matInput type="text" #val1 placeholder="Value 1" />
  </mat-form-field>

  <mat-form-field color="accent" class="column-value">
    <input matInput type="text" #val2 placeholder="Value 2" />
  </mat-form-field>

  <mat-form-field color="accent" class="column-value">
    <input matInput type="text" #val3 placeholder="Value 3" />
  </mat-form-field>

</div>