$primary: 'red';
$secondary: 'darkred';


.head 
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: green;
    color: #fff; 

.head-title
    position: relative;
    float: left;
    width: 50%;
    height: 100%;

.head-nav
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: right;

    a
        padding: 5px;

