<div>
  <table>
    <caption>{{ caption }}</caption>
    <tr>
      <th>&nbsp;</th>

      <th *ngFor="let header of headers">
        {{ header }}
      </th>      
    </tr>

    <tr *ngFor="let row of rows">
      <td>{{ row.name }}</td>
      
      <td *ngFor="let value of row.values">
        {{ value }}
      </td>
    </tr>

    <tr [ngClass]="'add-row'">
      <td colspan="3">
        <button mat-icon-button color="accent" aria-placeholder="Add row">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </tr>
  </table> 
</div>
