<div>
  <table>
    <caption>Table Caption</caption>
    <tr>
      <th>Column</th>
      <th>Column</th>
      <th>Column</th>
      <th>Column</th>
      <th>Column</th>
      <th>Column</th>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
  </table>  
</div>
