
%nav-room
    min-height: calc(100% - 55px)

html
    width: 100%

body
    width: 100%
    display: flex
    flex-direction: column

main
    @extend %nav-room
    width: 100%
    display: flex
    


