<div>
  <div>
    <h4>Background</h4>
    <mat-form-field color="accent">
      <input matInput type="text" #val1 placeholder="Color..." />
    </mat-form-field>
  </div>
  <div>
    <mat-slide-toggle>Highlight each row</mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle>Highlight each column</mat-slide-toggle>
  </div>

  <div>
    <h4>Font</h4>
    <mat-form-field>
      <mat-label>Font Style</mat-label>
      <mat-select>
        <mat-option [value]="A">A</mat-option>
        <mat-option [value]="B">B</mat-option>
        <mat-option [value]="C">C</mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;
  
    <mat-form-field color="accent">
      <input matInput type="text" #val1 placeholder="Color..." />
    </mat-form-field>
  </div>
</div>

<div>
  <h4>Borders</h4>
  <div>
    <mat-radio-group aria-label="border">
      <mat-radio-button #border value="day">None</mat-radio-button>
      <mat-radio-button #border value="week">Full</mat-radio-button>
      <mat-radio-button #border value="month">Collapsed</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Border Style</mat-label>
      <mat-select>
        <mat-option [value]="A">A</mat-option>
        <mat-option [value]="B">B</mat-option>
        <mat-option [value]="C">C</mat-option>
      </mat-select>
    </mat-form-field>  
  </div>
  <div>
    <mat-form-field color="accent">
      <input matInput type="text" #val1 placeholder="Color..." />
    </mat-form-field>
  </div>
</div>
